@import '_base.scss';

.drugSearchWrap {
  width: 100%;
  .searchWrap {
    background-color: #1661ab;
    height: 500px;
    position: relative;
    width: 100%;
    .bg-left {
      // background-image: url('../../../assets/images/competition/search-bg-left.png');
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 1500px;
    }
    .bg-right {
      // background-image: url('../../../assets/images/competition/search-bg-right.png');
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 800px;
    }
  }
}
