// global variables

// ---- Theme Colors ------
$theme-active-color: #1f84e9;
$theme-header-bg-color: #1f84e9;
$theme-main-bg-color: #363a42;
$theme-side-bg-color: #444e60;

$theme-text-danger-color: #ff0000;
$theme-text-success-color: #168c55;

// -------- Colors -----------
$primary-color: #1da57a;
$dark-color: #001529;
$gray-color: #888;
$border-light-color: #f8f8f8;

// *** font-size ***/
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
